{
  "inbounds": [
    {
      "listen": "127.0.0.1",
      "port": 40001,
      "protocol": "Socks",
      "settings": {
	  {
		  "auth": "password",
		  "accounts": [
			{
			  "user": "peko",
			  "pass": "yubi"
			}
		  ],
		  "udp": true,
		  "ip": "127.0.0.1"
	}
	  },
      "tag": "hihysteria_in"
    }
  ]
  
  "outbounds": [
    {
      "sendThrough": "0.0.0.0",
      "protocol": "Freedom",
      "settings": {
		{
		  "domainStrategy": "UseIPv6"
		}
	  },
      "tag": "hihysteria_out"
    }
  ]
  "routing": {
    "domainStrategy": "AsIs",
    "rules": [],
    "balancers": []
  }

  
}